term2/Vector/.vs
term1/Lab8/.vs
term1/Lab7/.vs
term1/Lab6/.vs
term1/Lab5/.vs
term1/Lab4/task1/.vs
term1/Lab4/task2/.vs
term1/Lab4/task3/.vs
term1/Lab4/task13/.vs
term1/Lab4/task12/.vs
term1/Lab4/task11/.vs
term1/Lab4/task10/.vs
term1/Lab4/task9/.vs
term1/Lab4/task8/.vs
term1/Lab4/task7/.vs
term1/Lab4/task6/.vs
term1/Lab4/task5/.vs
term1/Lab4/task4/.vs
term1/Lab3/Project1/.vs
term1/Lab3/sin/.vs
term1/Lab3/task 4.1/.vs
term1/Lab3/task 4.2/.vs
term1/Lab3/task1/.vs
term1/Lab3/task2/.vs
term1/Lab3/task3/.vs
term1/Lab3/task6/.vs
term1/Lab3/task5/.vs
term1/Lab3/task7/.vs
term1/Lab3/task8/.vs
term1/Lab3/task9/.vs
term1/check/.vs
term1/Lab2/task1/.vs
term1/Lab2/task2/.vs
term1/Lab2/task3/.vs
term1/Lab2/task4/.vs
term1/Lab2/task5/.vs
term1/Lab2/task6/.vs
term1/Lab2/task7/.vs
term1/Lab2/task8/.vs
term1/Lab2/task9/.vs
term1/Lab2/task10/.vs
term1/Lab2/task11/.vs
term1/Lab2/task12/.vs
term1/Lab2/task13/.vs
term1/Lab2/task14/.vs